.hero {
  position: relative;
  max-width: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__image {
  max-width: none;
  flex-grow: 1;
}

.hero__text {
  position: absolute;

  font-family: "Orbitron", sans-serif;
  font-size: 3rem;
  line-height: 4rem;
  text-align: center;
  color: var(--black);
  letter-spacing: 0.6rem;
}

/******* categories *******/
.section--categories > .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.category {
  position: relative;
  width: 13.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.category__image {
  width: 100%;
}

.category__text {
  width: 100%;
  position: absolute;
  text-align: center;
  line-height: 1.5rem;
  background-color: var(--bg-color);
}

/****** new arrivals ******/
.section--new-arrivals > .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  justify-items: center;
  gap: 1.5rem;
}

.section--new-arrivals .card {
  cursor: pointer;
  width: auto;
}

.section--new-arrivals .card__image {
  max-width: 12.5rem;
}

.section--new-arrivals .card__content {
  margin: 0 0 0 2rem;
}
