.product-page {
  display: grid;
  grid-template-areas: "filters products";
  grid-template-columns: 18rem 1fr;
}

.products {
  grid-area: products;
  min-width: 0;
}

.products > .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 2rem;
}
